<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bloemenveld frankendael</title>
    <meta name="description" content="Ontdek de planten en zones van Bloemenveld Frankendael. Bekijk je persoonlijke plantencollectie.">
    <link rel="stylesheet" href="/assets/styles/styleguide.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/partials.css">
    <script src="/assets/scripts/script.js" defer></script>
</head>
<body>
    
