<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bloemenveld frankendael</title>
    <link rel="stylesheet" href="/assets/styles/styleguide.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>
    <header>
        <a href="/">
            <img src="/assets/images/logo_transparent.webp" alt="">
        </a>
    </header>
    
</body>
</html>