<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="{{ waterplandgebied }}" />
    <title>bloemenveld frankendael</title>
    <meta name="description" content="Ontdek de planten en zones van Bloemenveld Frankendael. Bekijk je persoonlijke plantencollectie.">
    <link rel="canonical" href="https://server-side-rendering-server-side-website-auoy.onrender.com/"/>
    <link rel="manifest" href="manifest.webmanifest">
    <meta name="theme-color" content="#ffffff" />
    <link rel="shortcut icon" href="assets/snappthis-logo.png" type="image/x-icon">
    <link rel="icon" href="assets/snappthis-logo.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/snappthis-logo.png">
    <link rel="android-chrome-192x192" type="image/png" sizes="192x192" href="assets/snappthis-logo.png">
    <link rel="android-chrome-512x512" type="image/png" sizes="512x512" href="assets/snappthis-logo.png">
    <link rel="favicon-16x16" type="image/png" sizes="16x16" href="assets/snappthis-logo.png">
    <link rel="favicon-32x32" type="image/png" sizes="16x16" href="assets/snappthis-logo.png">
    <meta name="pwa-capable" content="yes">
    <link rel="stylesheet" href="/assets/styles/styleguide.css">
    <link rel="stylesheet" href="/assets/styles/opdrachtgever.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/partials.css">
    <script src="/assets/scripts/script.js" defer></script>
</head>
<body>
    
