<ul class="news {% if current_path == '/' %}horizontal{% endif %}">
    {% for newsitem in news %}
    <li>
        <a href="/nieuws/{{ newsitem.slug }}">
            <div>
                <p class="badge">Bloemen</p>
                {% render 'partials/general-heading.liquid',
                    heading_level: 2,
                    content: newsitem.title,
                %}
            </div>
            <img class="landscape" src="https://fdnd-agency.directus.app/assets/{{ newsitem.image }}" alt="{{ newsitem.title }}">
            {% if current_path == '/' %}
                <p>{{ newsitem.body | truncate: 40 }}</p>
        {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>