{% render 'partials/head.liquid' %}
<main class="nieuws">
    {% render 'partials/newslist.liquid', news: news, current_path: current_path %}
</main>
{% render 'partials/foot.liquid', current_path: current_path %}