/* welcome page */
main.welcome {

    section {
        width: 100%;
        overflow: hidden;
        padding: 2rem;
    }
}

/* dot navigation for the welcome page */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* veldverkenner page */

header.veldverkenner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 10;
    background-color: var(--light-background);
    top:0;
    gap: 1rem;
    min-height: 5rem;
    height: 10dvh;
    max-height: 8.75rem;
}

main.veldverkenner {
    margin-bottom: clamp(5rem, 10dvh, 8.75rem);

    section:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        position: relative;


        a.sierlint1 {
            position: absolute;
            bottom: 0;
            left: 47%;
            width: 100px;
            height: 170px;
            scale: .7;
            display: flex;
            align-items: center;
            background-color: var(--sierlint);
            justify-content: center;
            clip-path: path("M25 145C24.258 146.72 23.517 148.44 22.777 150.16C22.144 151.63 21.51 153.1 20.875 154.56C20.592 155.22 20.309 155.87 20.017 156.55C18.119 160.88 18.119 160.88 17 162C11.356 162.62 6.802 162.28 2 159C-1.27 153.8 -0.967 147.88 0 142C3.215 129.12 8.452 116.72 13.25 104.38C22.198 83.51 22.198 83.51 20.746 61.59C18.879 57.75 16.798 54.11 14.625 50.44C10.445 43.21 7.427 36.02 5 28C4.7 27.06 4.7 27.06 4.395 26.1C3.773 22.79 3.734 19.48 3.688 16.12C3.658 15.43 3.629 14.74 3.6 14.02C3.536 8.83 4.79 6.01 8 2C9.52 0.48 10.881 0.68 13 0.56C20.047 0.69 24.314 4.49 29.285 9.13C67.662 49.02 43.888 101.62 25 145Z");
            border-shape: path("M25 145C24.258 146.72 23.517 148.44 22.777 150.16C22.144 151.63 21.51 153.1 20.875 154.56C20.592 155.22 20.309 155.87 20.017 156.55C18.119 160.88 18.119 160.88 17 162C11.356 162.62 6.802 162.28 2 159C-1.27 153.8 -0.967 147.88 0 142C3.215 129.12 8.452 116.72 13.25 104.38C22.198 83.51 22.198 83.51 20.746 61.59C18.879 57.75 16.798 54.11 14.625 50.44C10.445 43.21 7.427 36.02 5 28C4.7 27.06 4.7 27.06 4.395 26.1C3.773 22.79 3.734 19.48 3.688 16.12C3.658 15.43 3.629 14.74 3.6 14.02C3.536 8.83 4.79 6.01 8 2C9.52 0.48 10.881 0.68 13 0.56C20.047 0.69 24.314 4.49 29.285 9.13C67.662 49.02 43.888 101.62 25 145Z");
        }

        svg {
            width: 100vw;
            height: 100%;
        }
    }

    article.tooltips {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 14dvh;
        gap: 1.5rem;
        left: 2vw;
        transition: all .4s ease;

        button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .3rem;
            width: 5rem;
            height: 5rem;
            border-radius: 100%;
            border: none;
            background-color: var(--light-background);

            &.zones {
                view-transition-name: button-zones;
            }

            &.uitleg {
                view-transition-name: button-uitleg;
            }
            

            p {
                color: var(--dark-text);
                font-size: 1rem;
            }

            svg {
                width: 1.5625rem;
                height: 1.5625rem;
            }
        }
    }
}

footer.veldverkenner {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 5rem;
    height: 10dvh;
    max-height: 8.75rem;
    background-color: var(--light-background);
    position: fixed;
    bottom: 0;
    z-index: 4;

    ul {
        display: flex;
        width: 100%;
        justify-content: space-around;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--dark-text);

            &.active {

                color: var(--active);

                svg {
                    path {
                        color: var(--active);
                    }
                    color: var(--active);
                }
            }
        }
    }
}

/* extra main selectors for veldverkenner */

body:has(:popover-open) {
    overscroll-behavior: contain;
    overflow: hidden; 

    [popover] {
        overscroll-behavior: contain;
        overflow: hidden;   
    }

    article.tooltips {
        opacity: 0;
    }
    a:not(.styled), svg { 
        pointer-events: none;
    }
}

/* popovers for the veldverkenner page */

section.zones-popover {

    width: 90vw;
    max-width: 28.125rem;
    min-height: 26rem;
    height: 40dvh;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 0.625rem;
    padding: 1rem;
    opacity: 0;
    border: solid 2px var(--dark-border);
    transform: translate(-50%, -50%) scale(0.9);
    transition: 
        opacity 0.3s ease-out, 
        transform 0.3s ease-out, 
        display 0.3s allow-discrete, 
        overlay 0.3s allow-discrete;

    button {
        cursor: pointer;
    }

    &:popover-open {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);

        @starting-style {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.9);
        }
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto 1fr; 
        align-items: center;
        width: 100%;    
    }

    h3 {
        grid-column: 2;
        text-align: center;


    }

    button {
        grid-column: 3;
        justify-self: end;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: transparent;
        border: none;
        text-decoration: underline;

        svg {
            width: 2.125rem;
            height: 2.125rem;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        
        li {
            display: flex;
            width: 40%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-block: 1rem;
            
            svg {
                width: 6.25rem;
                height: 6.25rem;
            }
            
        }
    }
}

section.uitleg-popover {
    width: 90vw;
    max-width: 28.125rem;
    min-height: 16rem;
    height: 60dvh;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 0.625rem;
    padding: 1rem;
    opacity: 1;
    border: solid 2px var(--dark-border);
    transform: translate(-50%, -50%) scale(0.9);
    transition: 
        opacity 0.3s ease-out, 
        transform 0.3s ease-out, 
        display 0.3s allow-discrete, 
        overlay 0.3s allow-discrete;

    button {
        cursor: pointer;
    }

    &:popover-open {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);

        @starting-style {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.9);
        }
    }
}

/* zone pages */

main.zone {
    padding: 0;

    h1 {
        margin-block: 1rem;
    }

    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;
        color: var(--dark-text);
    }
} 

/* animations */

.zones-popover {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
    
    /* to transition the 'display' and 'overlay' properties */
    transition: 
        opacity 0.5s ease-out, 
        transform 0.5s ease-out, 
        display 0.5s allow-discrete, 
        overlay 0.5s allow-discrete;
}


