
.waterland {
    border-shape: path("M140.229 0.0488455C140.996 0.0327323 141.764 0.016619 142.555 1.74269e-05C147.472 -0.00419574 150.729 0.754532 155.041 3.36135C150.818 26.395 136.263 41.8959 118.041 55.3613C117.435 55.8107 116.829 56.2601 116.205 56.7232C112.2 59.6774 108.143 62.5423 104.041 65.3613C103.25 65.9144 102.458 66.4674 101.643 67.0371C78.7081 81.9648 31.4789 100.791 4.04115 97.3613C2.025 95.9709 1.27059 94.9245 0.353646 92.6738C-1.38551 79.8041 3.51916 68.227 10.0411 57.3613C27.5326 34.4338 68.0989 23.9873 93.6495 13.7285C97.1004 12.3374 100.544 10.9291 103.986 9.5176C106.213 8.61106 108.439 7.7048 110.666 6.79885C111.679 6.38111 112.691 5.96337 113.735 5.53298C122.63 1.93709 130.624 0.00790623 140.229 0.0488455Z");
}

body.welcome {
    max-height: 100dvh;
}

main.welcome {

    section {
        width: 100%;
        overflow: hidden;

        
    }

    ul {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none; 

        &::-webkit-scrollbar { 
            display: none; 
        }
    }

    li {
        flex: 0 0 100%;
        width: 100%;
        height: 100%;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8vh 2rem 5vh;
        text-align: center;

        h1,h2 {
            line-height: 1;
        }

        p {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        img {
            width: 100%;
            max-width: 21.875rem;
            height: 30dvh;
            border-radius: 0.9375rem;
            object-fit: cover;
            object-position: center top;
            margin-block: 1rem;
        }

        svg {
            width: 30%;
            height: auto;
            margin-block: 3rem;
        }
    }

    div {
        grid-column: 2;
        display: flex;
        gap: 8px;

        a {
            width: 10px;
            height: 10px;
            background: #e0e0e0;
            border-radius: 50%;
            text-decoration: none;

            &.active {
                background: #888;
            }
        }
    }      
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
}

main.home {
    section:nth-of-type(1) {
        display: flex;
        
        svg {
            width: 100vw;
            height: fit-content;
        }
    }
}