@font-face {
    font-family: headings;
    src: url(/assets/fonts/heading-font.ttf);
}

@font-face {
    font-family: main;
    src: url(/assets/fonts/main-font.ttf);
}

@font-face {
    font-family: italic;
    font-style: italic;
    src: url(/assets/fonts/italic-font.ttf);
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    box-sizing: border-box;
    list-style: none;
}

img, video {
    width: 100%;
    max-width: 400px;
    height: auto;
}

body {
    /* --------- font sizes --------- */
    --paragraph: clamp(1rem, 2vw, 1.3rem);
	--heading-small: clamp(1.2rem, 2vw, 1rem);
	--heading-medium: clamp(1.4rem, 2.7vw, 2.2rem);
	--heading-big: clamp(1.4rem, 3vw, 2.5rem);

    /* --------- colors --------- */

    /* zone colors */
    --sierlint: #FFFFD3;
    --voedseleiland: #CFE1B9;
    --heuvel: #ffcaff;
    --waterplandgebied: #daf1fe;

    /* site wide colors */
    --light-background: #F7F7F7;
    --medium-background: #a2a2a2;
    --dark-background: #3C3C3C;

    --light-text: #F7F7F7;
    --dark-text: #3C3C3C;
    --body-background-green: #fe8b5038;

    /* accents and borders */
    --active: #015E30;
    --light-border:#ffffff;
    --dark-border: #1b1b1b;

    /* --------- borders --------- */
    --border-image: 0.625rem;
    --border-popover: 1rem;
    --border-card: .8rem;
    --border-button: .5rem;
    --border-round: 100%;

    /* buttons */
    --correct: #015E30;
    --incorrect: #8F0000;

    background-color: var(--light-background);

}

h1, h2, h3, h4, h5, h6 {
    
    font-family: headings;
    font-weight: 600;
    font-size: var(--heading-big);
}

h3, h4 {
    font-size: var(--heading-medium);
}

h5, h6 {
    font-size: var(--heading-small);
}

h3.italic {
    font-family: italic;
    font-weight: 400;
    font-size: var(--paragraph);
}

p,a,button {
    font-family: main;
    font-weight: 400;
    font-size: var(--paragraph);
    text-decoration: none;
}

p.italic {
    font-family: italic;
    font-weight: 400;
}

svg {
    width: 1.5625rem;
    height: 1.5625rem;
}

/* margin for all pages but veldverkenner */
main:not(.veldverkenner) {
    margin: 1rem;
}

/* link styling global */

/* general link button look */
.styled {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    height: 2.5rem;
    border-radius: 0.625rem;
    color: var(--dark-text);

    /* filled link button look */
    &.primary {
        background-color: var(--dark-background);
        color: var(--light-text);
    }
    
    /* outlined link button look */
    &.secondary {
        background-color: transparent;
        border: var(--dark-border) 2px solid;
        
    }

    /* finished link button look */
    &.klaar {
        background-color: var(--active);
        color: var(--light-text);
    }
}

a.back {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    color: var(--dark-text)
}

.notext {
    border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: -1px ;
	overflow: hidden;
	padding: 0;
	width: 1px;
	white-space: nowrap;
}

/* zone styling colors */

.sierlint {
    background-color: var(--sierlint);

    &::-webkit-progress-value { 
        background-color: var(--sierlint); 
    }
}

.voedseleiland {
    background-color: var(--voedseleiland);
}

.heuvel {
    background-color: var(--heuvel);
}

.waterplandgebied {
    background-color: var(--waterplandgebied);
}

/* progress bar styling */

progress {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 1.25rem;
    background-color: transparent;

    &::-webkit-progress-value {
        background-color: black;
        border-radius: 10px;
    }

    &::-moz-progress-bar {
        border-radius: 10px;
        background-color: rgba(0,0,0,0.6);
    }

    &::-webkit-progress-bar {
        background-color: #00000041;
        border-radius: 10px;
        box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
    }
}

/* square image */

img.square {
    object-fit: contain;
    object-position: center;
    width: 100%;
    aspect-ratio: 1 / 1;
}